@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
}
@theme inline {
  --color-theme: var(--color-lime-800);
}
@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-gray-100 dark:bg-gray-900 text-theme dark:text-white;
  }
  p {
    @apply font-mono text-sm;
  }
}

@layer components {
  .card-section {
    @apply border border-gray-200 rounded-lg text-gray-900 bg-white dark:bg-gray-700 dark:border-gray-600 dark:text-white;
  }
  .btn-primary {
    border-radius: calc(infinity * 1px);
    background-color: var(--color-theme);
    padding-inline: --spacing(5);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    box-shadow: var(--shadow-md);
    cursor: pointer;
    &:hover {
      @media (hover: hover) {
        background-color: --alpha(var(--color-theme) / 80%);
      }
    }
  }
}
